node_modules/
dist/
coverage/
.pages/

*.tsbuildinfo
*.log
*.js.map
.DS_Store
.env*
!.env.example

.vitest-attachments/
__screenshots__/

.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

.codex*
